.pokedex-panel-uno{
  width: 90%;
  height: 500px;
  background-color: var(--red-pokedex);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  max-width: 400px;
  min-width: 300px;
  border-radius: 10px;
  font-family: PokemonFont;
}

.panel1-arriba{
  height: 18%;
  width: 100%;
  display: flex;
  position: relative;
}

.panel1-arriba > div:first-child{
  width: 50%;
  height: 100%;
  /* background-color: var(--red-pokedex); */
  border-bottom:2px solid black;
  display: flex;
}


.panel1-arriba > div:nth-child(2){
  width: 50%;
  height: 60%;
  justify-self: end;
  /* background-color: var(--red-pokedex); */
  border-bottom:2px solid black;
}

.panel1-arriba > div:nth-child(3){
  width: 52px;
  height: 50px;
  justify-self: end;
  background-color: var(--red-pokedex);
  border-bottom:2px solid black;
  position: absolute;
  bottom: 11px;
  left: calc(50% - 23px);
  transform: rotate(-40deg)
}

.circulo-azul{
  width: 65px;
  height: 65px;
  background-color: aqua;
  border-radius: 65px;
  border: 6px solid white;
  margin-left: 20px;
  justify-self: center;
  align-self: center;
}

.circulos-colores{
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 4px;
}

.circulos-colores > span{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid black;
}

.rojo{
  background-color: red;
}

.amarillo{
  background-color: yellow;
}

.verde{
  background-color: green;
}

.panel1-info-container{
  height: 60%;
  width: 85%;
  background-color: white;
  border-radius: 15px;
  place-content: center;
  align-items: center;
  display: flex;

}

.panel1-info{
  width: 80%;
  height: 80%;
  background-color: black;
  border-radius: 5px;
}


.teclas{
  height: 20%;
  width: 100%;
  padding: 0px 10px 10px 10px;
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.circulo-inferior{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: black;
  align-self: flex-start;
}

.teclas > div:nth-child(2){
  width: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.luces-inferior{
  display: flex;
  justify-content: space-evenly;
}

.luces-inferior > div{
  width: 30px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.luces-inferior > div:first-child{
  background-color: red;
}

.luces-inferior > div:nth-child(2){
  background-color: blue;
}

.verde-inferior{
  width: 90px;
  height: 70%;
  background-color: green;
  border-radius: 10px;
  border: 2px solid black;
}

.teclas-flechas{
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;  
  align-items: center;
}

.teclas-flechas>div{
  background-color: black;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}


.teclas-flechas>div:first-child{
  width:45px;
  height: 30px;
}

.teclas-flechas>div:nth-child(2){
  width:45px;
  height: 30px;
  position: relative;
}

.teclas-flechas>div:nth-child(3){
  width: 30px;
  height: 30px;
  position: absolute;
  transform: rotate(90deg);
  top: 0px;
  justify-self: start;
  align-self: start;
}

.teclas-flechas>div:nth-child(4){
  width: 30px;
  height: 30px;
  position: absolute;
  transform: rotate(90deg);
  bottom: 0px;
}

.teclas-flechas > div >  img{
  width: 20px;
  justify-self: center;
  align-self: center;
}

.teclas-flechas > div >  img:first-child{
  margin-left  : 4px;
}

.teclas-flechas > div:nth-child(2) >  img{
  transform: rotate(180deg);
  position: absolute;
  right: 4px;
}

.teclas-flechas > div:nth-child(4) >  img{
  transform: rotate(180deg);
}

/* .teclas-flechas > div >  img{
  width: 20px;
  justify-self: center;
  align-self: center;
}
.teclas-flechas > div >  img{
  width: 20px;
  justify-self: center;
  align-self: center;
}
.teclas-flechas > div >  img{
  width: 20px;
  justify-self: center;
  align-self: center;
} */

