.electric{
  background-color:  #FFEA70;
}
.normal{
  background-color:  #809398;
}
.fire{
  background-color:  #da2c20;
}
.water{
  background-color:  #0596C7;
}
.ice{
  background-color:  #AFEAFD;
}
.rock{
  background-color:  #999799;
}
.flying{
  background-color:  #7AE7C7;
}
.grass{
  background-color:  #449681;
}
.psychic{
  background-color:  #FFC6D9;
}
.ghost{
  background-color:  #561D25;
}
.bug{
  background-color:  #A2FAA3;
}
.poison{
  background-color:  #795663;
}
.ground{
  background-color:  #D28074;
}
.dragon{
  background-color:  #DA627D;
}
.steel{
  background-color:  #1D8A99;
}
.fighting{
  background-color:  #2F2F2F;
}
.default{
  background-color:  #221A1F
}